
.back {
    z-index: 0;
position: absolute;
}
.bronx{
    position: absolute;
  left: 10%;
  top: 3%;
  z-index: 1;
}
.brooklyn {
    position: absolute;  
    top: 2%;
    right: 10%; 
    z-index: 1;  
}
.queens {
    position: absolute;  
      left: 40%;
  top: 32%;    
  z-index: 1;
}
.statenisland {
    position: absolute;   
    top: 62%; 
    right: 10%; 
    z-index: 1;
}
.manhattan {
    position: absolute;  
    top: 62%;
    left: 10%; 
    z-index: 1;
}

.bronx1 {
    left: 15%;
    top: 32%; 
    z-index: 1; 
    position: absolute; 
    font-family: 'Courier Prime', monospace; 
    font-size: 40px;
}

.brooklyn1 {
    right: 13%;
    top: 32%; 
    z-index: 1; 
    position: absolute; 
    font-family: 'Courier Prime', monospace; 
    font-size: 40px;
}

.queens1 {
    left: 45%;
    top: 62%; 
    z-index: 1; 
    position: absolute; 
    font-family: 'Courier Prime', monospace; 
    font-size: 40px;
}
.manhattan1 {
    position: absolute;
    font-family: 'Courier Prime', monospace;
    left: 12%;
    top: 92%; 
    z-index: 1; 
    position: absolute; 
    font-family: 'Courier Prime', monospace; 
    font-size: 40px; 
}

.statenisland1 {
    position: absolute;
    font-family: 'Courier Prime', monospace;
    right: 10%;
    top: 92%; 
    z-index: 1; 
    position: absolute; 
    font-family: 'Courier Prime', monospace; 
    font-size: 40px;  
}