
.game-screenqueens {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    }
    
    #cafe1queens .game-screenqueens {
      background-image: url("queens1.png");
    }
    
    #cafe2queens .game-screenqueens {
      background-image: url("queens2.png"); 
    }
    
    #kitchenqueens .game-screenqueens {
      background-image: url("kitchen.png"); 
    
    }
    
    #lunchlinequeens .game-screenqueens {
      background-image: url("line.png"); 
    
    }
    
     .mapqueens {
     top: 0;
     left: 0;
      position: fixed;
      z-index: 1; 
      right: 65%;
    
     }
    
    .characterboxqueens {
      top: 0;
     right: 0;
      position: fixed;
      z-index: 1; 
    }
    .characterbox2queens {
      top: 0;
     right: .1%;
      position: fixed;
      z-index: 1; 
      display: none;
    }

    
    
    *, *::before, *::after{
      margin: 0;
      padding: 0;
      box-sizing: border-box; 
    }
    
    .gamefooterqueens{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
    }
    
    .flex-containerqueens {
      display: flex;
      flex-direction: row;
      background-color: rgba(217, 217, 217, .8);
      align-items: flex-end;
      justify-content: space-evenly;
      flex: 0 1 auto;
    
    
    }
    .flex-containerqueens img {
      opacity: 0;
    }
    .flex-containerqueens > div {
      color: rgba(217, 217, 217, .8);
      height: 140px;
      border-style: solid;
      border: #B5B3B3, 5px;
      width: 150px;
    }
    
    .item1queens {
      padding-left: 5px;
      padding-right: 5px;
    }
    
    .item2queens {
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 10px;
    }
    .item3queens {
      padding-left: 20px;
      padding-right: 20px;
    }
    .item4queens {
      padding-left: 5px;
      padding-right: 5px;
    }
    .item5queens {
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 5px;
    }
    .item6queens {
      padding-top: -10px;
    }
    .item7queens {
      padding-left: 20px;
      padding-right: 20px;
    }
    .item8queens {
      padding-left: 5px;
      padding-right: 5px;
    }
    .item9queens {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 25px;
    }
    .item10queens {
      padding-left: 18px;
      padding-right: 18px;
    padding-top: 20px;
    }
    
    
    .ratsimagequeens {
      position: absolute;
      bottom: 49%;
      right: 16%;
      width: 80px;
    }
    .lightingimagequeens {
      position: absolute;
      left: 40%;
      bottom: 41%;
      width: 100px;
    }
   .chefimagequeens {
      position: absolute;
      bottom: 10%;
      left: 20%;
      width: 600px; 
    } 
    
   .plumbingimagequeens {
      position: absolute;
      bottom: 25%;
      left: 36%;
      width: 80px; 
    
    }
    
    .fliesimagequeens {
    position: absolute;
    bottom: 50%;
    left: 76%;
    width: 70px;
    }
    
 .verminproofimagequeens {
      position: absolute;
      bottom: 21%;
    left: 97%;
    width: 50px;
    }
    
 .nonfoodcontactimagequeens {
      position: absolute;
      bottom: 39%;
    left: 8%;
    width: 200px;
    }
    
    .bulbimagequeens {
      position: absolute;
      bottom: 93%;
    left: 45%;
    width: 50px;
    }
    
   .contaminationimagequeens {
      position: absolute;
      bottom: 68%;
    left: 40%;
    width: 250px;
    }
    
    .roachimagequeens {
      position: absolute;
      bottom: 60%;
    left: 58%;
    width: 100px;
    }
    
    .uncleansurfaceimagequeens {
        position: absolute;
        bottom: 28%;
      left: 50%;
      width: 150px;
      }

    #mappopupqueens {
      position: fixed;
      top: 50%;
      left: 50%;
      background-color: #10487C;
      transform: translate(-50%, -50%);
      box-shadow: 0 -4px 16px -3px #742830a1, 0 3px 13px -3px #742830a1;
      border-radius: 25px;
      padding-right: 260px;
      font-size: 20px;
      font-weight: bold;
    
    }
    
    .mapcafequeens {
      position: fixed;
      width: 80px;
    }
    
    #mappopupqueens {
      display: none;
    }
    .button1queens {
      background-color: #C74238; 
      border: none;
      color: #d3d3d3;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
      margin: 4px 2px;
      cursor: pointer;
      font-family: 'Courier Prime', monospace;
     position: absolute;
     bottom: 66%;
     left: 50%;
    }
    
    
   .button2queens {
      background-color: #C74238; 
      border: none;
      color: #d3d3d3;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
      margin: 4px 2px;
      cursor: pointer;
      font-family: 'Courier Prime', monospace;
      position: absolute;
    left: 60%;
    bottom: 30%;
    }
    
    .button3queens {
      background-color: #C74238; 
      border: none;
      color: #d3d3d3;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
      margin: 4px 2px;
      cursor: pointer;
      font-family: 'Courier Prime', monospace;
      position: absolute;
      bottom: 48%;
    left: 40%;
    }
    
    .button4queens {
      background-color: #C74238; 
      border: none;
      color: #d3d3d3;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 25px;
      margin: 4px 2px;
      cursor: pointer;
      position: absolute;
      font-family: 'Courier Prime', monospace;
      left: 30%;
      bottom: 28%;
    }
    
    .beginningpopupqueens {
      background-color: #FBFBFB;
      width: 1295px;
      height: 634px;
      position: absolute;
      z-index: 1;
      left: 15%;
      bottom: 20%;
      border-radius: 25px;
    }
    
    .topwritingqueens {
    font-family: "proxima-nova", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 64px;
    left: 15%;
    position: absolute;
    }
    
    .frontwritingqueens {
      font-size: 36px;
    left: 13%;
    right: 9%;
    position: absolute;
    font-family: 'Courier Prime', monospace;
    bottom: 60%;
    }
    .maptinyqueens {
      position: absolute;
      left: 5%;
      bottom:35%;
    }
    .apron1tinyqueens {
      position: absolute;
      left: 32%;
      bottom: 35%;
    }
    .apron2tinyqueens {
      position: absolute;
      left: 42%;
      bottom: 35%;
    }
    
    .footertinyqueens {
      position: absolute;
      left: 67%;
      bottom: 40%;
    }
    
    .mapwritingqueens {
      font-size: 22px;
    left: 2%;
    position: absolute;
    font-family: 'Courier Prime', monospace;
    bottom: 15%;
    }
    
    .footerwritingqueens {
      font-size: 22px;
    left: 64%;
    position: absolute;
    font-family: 'Courier Prime', monospace;
    bottom: 18%;
    
    }
    
    .apronwritingqueens {
      font-size: 22px;
    left: 28%;
    position: absolute;
    font-family: 'Courier Prime', monospace;
    bottom: 18%;
    }
    
    .buttonfirstqueens {
      background-color: #FBFBFB; 
      border: 5px solid black;
      color: black;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 40px;
      margin: 4px 2px;
      cursor: pointer;
      position: absolute;
      font-family: 'Courier Prime', monospace;
      left: 40%;
      bottom: 6%;
      border-radius: 25px;
    }
    
    .chefpopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 1790px;
      height: 350px;
      bottom: -3%;
      display: none;
    }
    .titlechefqueens {
      font-family: "proxima-nova", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 80px;
      left: 2%;
      position: absolute;  
    }
    
    .dialogchefqueens {
      font-size: 40px;
      left: 2%;
      position: absolute;
      font-family: 'Courier Prime', monospace;
      bottom: 40%; 
    }
    
    .chefbuttonqueens {
      background-color: #FBFBFB; 
      border: 5px solid black;
      color: black;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 40px;
      margin: 4px 2px;
      cursor: pointer;
      position: absolute;
      font-family: 'Courier Prime', monospace;
      left: 85%;
      bottom: 10%;
      border-radius: 25px;
    }
    
    .chefheadqueens {
      position: absolute;
      bottom: 99%;
      left: 74%;
    
    }
    
    .certificatepopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 959px;
      height: 397px;
      bottom: 40%;
      left: 20%;
      border-radius: 25px;
      display: none;
    }
    
    .titlehealthqueens {
      position: absolute;
      font-family: "proxima-nova", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 55px; 
      left: 2%;
    }
    
    .certtitlequeens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 44px; 
      bottom: 56%;
      left: 2%;
    }
    
    .certificatewritupqueens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 28px; 
      bottom: 5%;
      right: 40%;
      left: 2%;
    }
    .certificateviolationqueens {
      position: absolute;
      left: 70%;
      bottom: 20%;
    }
    
    
    .ratspopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 959px;
      height: 397px;
      bottom: 40%;
      left: 20%;
      border-radius: 25px;
      display: none;
    }
    .rattitlequeens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 44px; 
      bottom: 58%;
      left: 2%;
    }
    
    .ratwritupqueens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 28px; 
      bottom: 8%;
      right: 40%;
      left: 2%;
    }
    .ratviolationqueens {
      position: absolute;
      left: 70%;
      bottom: 15%;
    }
    
    .badlightingpopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 959px;
      height: 397px;
      bottom: 40%;
      left: 20%;
      border-radius: 25px;
      display: none;
    }
    .lightingtitlequeens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 44px; 
      bottom: 65%;
      left: 2%;
    }
    
    .lightingwritupqueens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 28px; 
      bottom: 8%;
      right: 40%;
      left: 2%;
    }
    .lightingviolationqueens {
      position: absolute;
      left: 70%;
      bottom: 15%;
    }
    
    .fliespopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 959px;
      height: 397px;
      bottom: 40%;
      left: 20%;
      border-radius: 25px;
      display: none;
    }
    .fliestitlequeens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 44px; 
      bottom: 65%;
      left: 2%;
    }
    
    .flieswritupqueens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 28px; 
      bottom: 8%;
      right: 40%;
      left: 2%;
    }
    .fliesviolationqueens {
      position: absolute;
      left: 70%;
      bottom: 15%;
    }
    .verminproofpopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 959px;
      height: 397px;
      bottom: 40%;
      left: 20%;
      border-radius: 25px;
      display: none;
    }
    .verminprooftitlequeens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 44px; 
      bottom: 66%;
      left: 2%;
    }
    
    .verminproofwritupqueens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 28px; 
      bottom: 8%;
      right: 40%;
      left: 2%;
    }
    .verminproofviolationqueens {
      position: absolute;
      left: 70%;
      bottom: 15%;
    }
    .eleanorpopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 1790px;
      height: 350px;
      bottom: -3%;
      display: none;
    }
    .titleeleanorqueens {
      font-family: "proxima-nova", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 80px;
      left: 2%;
      position: absolute;  
    }
    
    .dialogeleanorqueens {
      font-size: 40px;
      left: 2%;
      position: absolute;
      font-family: 'Courier Prime', monospace;
      bottom: 40%; 
    }
    
    .eleanorbuttonqueens {
      background-color: #FBFBFB; 
      border: 5px solid black;
      color: black;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 40px;
      margin: 4px 2px;
      cursor: pointer;
      position: absolute;
      font-family: 'Courier Prime', monospace;
      left: 85%;
      bottom: 10%;
      border-radius: 25px;
    }
    
    .eleanorheadqueens {
      position: absolute;
      bottom: 99%;
      left: 74%;
    
    }
    .uncleansurfacespopupqueens {
        position: absolute;
        z-index: 1;
        background-color:#FBFBFB;
        width: 959px;
        height: 397px;
        bottom: 40%;
        left: 20%;
        border-radius: 25px;
        display: none;
      }
      .uncleansurfacestitlequeens {
        position: absolute;
        font-family: 'Courier Prime', monospace;
        font-size: 44px; 
        bottom: 58%;
        left: 2%;
      }
      
      .uncleansurfaceswritupqueens {
        position: absolute;
        font-family: 'Courier Prime', monospace;
        font-size: 28px; 
        bottom: 5%;
        right: 40%;
        left: 2%;
      }
      .uncleansurfacesviolationqueens {
        position: absolute;
        left: 63%;
        bottom: 15%;
      }
    
    .contaminationpopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 959px;
      height: 397px;
      bottom: 40%;
      left: 20%;
      border-radius: 25px;
      display: none;
    }
    .contaminationtitlequeens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 44px; 
      bottom: 58%;
      left: 2%;
    }
    
    .contaminationwritupqueens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 28px; 
      bottom: 3%;
      right: 40%;
      left: 2%;
    }
    .contaminationviolationqueens {
      position: absolute;
      left: 70%;
      bottom: 15%;
    }
    .roachpopupqueens {
        position: absolute;
        z-index: 1;
        background-color:#FBFBFB;
        width: 959px;
        height: 397px;
        bottom: 40%;
        left: 20%;
        border-radius: 25px;
        display: none;
      }
      .roachtitlequeens {
        position: absolute;
        font-family: 'Courier Prime', monospace;
        font-size: 44px; 
        bottom: 64%;
        left: 2%;
      }
      
      .roachwritupqueens {
        position: absolute;
        font-family: 'Courier Prime', monospace;
        font-size: 28px; 
        bottom: 3%;
        right: 40%;
        left: 2%;
      }
      .roachviolationqueens {
        position: absolute;
        left: 65%;
        bottom: 25%;
      }
    
    .bulbpopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 959px;
      height: 397px;
      bottom: 40%;
      left: 20%;
      border-radius: 25px;
      display: none;
    }
    .bulbtitlequeens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 44px; 
      bottom: 58%;
      left: 2%;
    }
    
    .bulbwritupqueens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 28px; 
      bottom: 3%;
      right: 40%;
      left: 2%;
    }
    .bulbviolationqueens {
      position: absolute;
      left: 70%;
      bottom: 5%;
    }
    
    .improperpopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 959px;
      height: 397px;
      bottom: 40%;
      left: 20%;
      border-radius: 25px;
      display: none;
    }
    .impropertitlequeens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 44px; 
      bottom: 67%;
      left: 2%;
    }
    
    .improperwritupqueens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 28px; 
      bottom: 8%;
      right: 40%;
      left: 2%;
    }
    .improperviolationqueens {
      position: absolute;
      left: 70%;
      bottom: 15%;
    }
    
    .plumbingpopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 959px;
      height: 397px;
      bottom: 40%;
      left: 20%;
      border-radius: 25px;
      display: none;
    }
    .plumbingtitlequeens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 44px; 
      bottom: 70%;
      left: 2%;
    }
    
    .plumbingwritupqueens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 28px; 
      bottom: 8%;
      right: 40%;
      left: 2%;
    }
    .plumbingviolationqueens {
      position: absolute;
      left: 68.5%;
      bottom: 5%;
    }
    
    .endpopupqueens {
      position: absolute;
      z-index: 1;
      background-color:#FBFBFB;
      width: 1259px;
      height: 497px;
      bottom: 35%;
      left: 15%;
      border-radius: 25px;
      display: none;
    }
    
    .endtitlequeens {
      position: absolute;
      font-family: "proxima-nova", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 55px; 
      left: 1%; 
      top: 3%;
    }
    
    .endwritupqueens {
      position: absolute;
      font-family: 'Courier Prime', monospace;
      font-size: 40px; 
      bottom: 55%;
     left: 10%;
     right: 10%;
     text-align: center;
    }
    
    .buttonlastqueens {
      background-color: #FBFBFB; 
      border: 5px solid black;
      color: black;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      padding: 2%;
      font-size: 40px;
      margin: 4px 2px;
      cursor: pointer;
      position: absolute;
      font-family: 'Courier Prime', monospace;
      left: 35%;
      bottom: 10%;
      border-radius: 25px;
    }